.formContainer {
  max-width: 350px;
  margin: 0 auto;
  background: transparent;
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}

@media (max-width: 600px) {
  .formContainer {
    max-width: 100%;
    padding: 0 2vw;
  }
}

.errorAlert {
  margin-bottom: 16px;
}
